/* default html classes */
html{
    font-size: 16px;
}

body{
    font-family: "source-sans-3", Helvetica, sans-serif !important;
    background-color: #eceff1;
    color: #000000;
    margin-top: 0px; 
    margin-left: 0px;
    overflow-x: hidden !important;
}    
p {
    font-family: "source-sans-3", Helvetica, sans-serif;
    font-size: 1rem;
    color: #000000;
    line-height: 140%;
    font-weight: 400;
}

h1 {
    font-size: 2.75rem; 
    color: #ffffff;
}

h2 { /* formerly h3 in masthead */
    font-size: 1.25rem !important; 
    font-weight: 400;
    color: #ffffff;
}

h3 { /* formerly h4 */
    font-size: 1.75rem !important;
    font-weight: 300;
    cursor: default;
    color: #ffffff;
    padding: 20px 0px;
    margin: 0px;
    transition: transform 0.33s ease;
}

h3:hover, h3:active{
    /*color: #1abc9c;*/
    transform: translateX(10px);
    transition: transform 0.33s ease;
}

h4 { /* formerly h3 in content */
    font-size: 1.25rem !important; 
    font-weight: 600;
}

a{
    text-decoration: underline solid transparent;
    /* color: #2980b9; */
    color: #2472a6;
    transition: all 0.25s ease;
}

a:hover, a:active, a:focus{
    /* color: #3498db; */
    color: #3393d4;
    text-decoration: underline solid #3393d4;
    transition: all 0.25s ease;
}

a:visited{
    color: #2472a6;
    transition: all 0.25s ease;
}

a:visited:hover, a:visited:active, a:visited:focus{
    color: #3393d4;
    text-decoration: underline solid #3393d4;
    transition: all 0.25s ease;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer{
    width: 100%;
    text-align: center;
    /*background: #242a2e;*/
    background-color: rgba(0, 0, 0, 0.85);
    height: 75px;
    cursor: default;
}

/* custom classes */
.navbar{
    font-family: "source-sans-3", Helvetica, sans-serif !important;
    padding: 0.5625rem 10% !important;
    box-shadow: 0px 2px 7px 3px rgba(0,0,0, 0.25); 
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(3px) !important;
    -webkit-backdrop-filter: blur(3px) !important;
    transition: background-color 0.25s ease;
}

.navbar:hover, .navbar:active{
    background-color: #000000;
    transition: background-color 0.25s ease;
}

.mybrand{
    color: #ffffff !important;
    font-size: 1.75rem; 
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    text-decoration: none !important;
    transition: color 0.33s ease !important;
    margin-right: 1.125rem !important;
}

.mybrand:hover{
    color: #18af91 !important;
}

.mybrand:active{
    color: #13856e !important;
}

.nav-link{
    font-size: 1.3125rem !important;
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
    text-decoration: underline solid 1.5px transparent;
    -webkit-text-decoration: underline solid transparent;
    text-underline-offset: 4px;
    transition: all 0.33s ease;
    color: #cfd8dc !important;
    font-weight: 300;
}

.nav-link:hover, .nav-link:active{
    color: #ffffff !important;
    text-decoration: underline solid 1.5px #ffffff !important;
    -webkit-text-decoration: underline solid #ffffff !important;
    text-underline-offset: 4px;
    transition: all 0.33s ease;
}

.currentpage {
    color: #ffffff !important; 
    text-decoration: underline solid 1.5px #ffffff !important; 
    -webkit-text-decoration: underline solid #ffffff !important; 
    text-underline-offset: 4px;
}

.bg{
    z-index: -1;
    position: fixed;
    left: 0px;
    top: 60px;
    width: 100%;
    height: calc(100% - 60px);
    background-size: cover;
    background-position: center 0%;
}

.blurb{
    color: #000000 !important; 
    margin-bottom: 1rem;
}

.masthead{ /* sets styling for masthead text */
    vertical-align: middle;
    cursor:default;
    line-height: normal; 
    padding: max(3.75vh, 20px) 3.125%;
    background-color: #13856e;
    margin-bottom: 1rem;
}

.masthead h1{
    font-weight: 300;
}

.homemast{
    height: 75vh; 
    min-height: 300px;
    background-size: cover; 
    background-position: 55% 20%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* sets size, alignment, and background of masthead banner */
/*.mastcontainer{ 
    height: 39vh; 
    min-height: 245px;
    max-height: 40vw;
    width: 100%;
    vertical-align: middle; 
    text-align: center; 
    background: no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    z-index: 10;
    box-shadow: 0px 2px 5px 3px rgba(0,0,0, 0.3);
}*/

#overlay {
    position: fixed;
    bottom: 61%;
    width: 100%;
    margin: auto;
    background-color: transparent;
    cursor: default;
    opacity: 100%;
}

.overlay-inner {
    font-weight: 300;
    font-size: 3.875rem;
    color: #ffffff;
    margin: 0px auto;
    padding-bottom: 4px;
    text-align: center;
    text-shadow: 1px 1px 6px #000000;
    transition: font-size 0.33s ease;
}

#overlay2 {
    position: fixed;
    bottom: 20%;
    width: 100%;
    margin: auto;
    background-color: transparent;
    cursor: default;
    opacity: 100%;
}

#o2text{
    font-size: 1.25rem !important;
    font-weight: 400;
    padding: 6px;
    border-radius: 6px;
    font-style: italic;
    transition: font-size 0.33s ease;
    background-color: rgba(0,0,0, 0.2);
}

.preview-section{
    height: 50vh; 
    min-height: 200px;
    background: no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}

.preview-inner{
    height: 100%;
    width: 100%;
    background: rgba(0,0,0, 0.26);
    transition: background 0.25s ease;
}

.preview-inner:hover, .preview-inner:active{
    background: rgba(0,0,0, 0.65) !important;
    transition: background 0.25s ease;
}

.preview-table{
    width: 80%;
    height: 100%; 
    margin: auto;
    border: none;
    border-collapse: collapse;
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 300;
    text-shadow: 1px 1px 6px #000000;
    transition: font-size 0.33s ease, width 0.33s ease;
}

.ptitle{
    width: 50%;
    text-align: right;
}

.ptitlea{
    color: #ffffff !important;
    text-decoration: underline solid transparent;
    text-decoration-thickness: 0.01px !important;
    transition: text-decoration 0.33s ease, text-decoration-thickness 0.33s ease !important;
}

.preview-table:hover .ptitlea, .preview-table:active .ptitle{
    text-decoration: underline solid 2px #ffffff;
    text-decoration-thickness: 2px !important;
    transition: text-decoration 0.33s ease, text-decoration-thickness 0.33s ease !important;
}

.parrow{
    width: 50%; 
    max-width: 50%;
    text-align: center;
    cursor: default;
}

.parrowp{
    color: #ffffff;
    font-size: 2.5rem;
    margin-bottom: 0px;
    max-width: 100%;
    transition: transform 0.33s ease, max-width 0.33s ease;
}

.preview-table:hover .parrowp, .preview-table:active .parrowp{
    max-width: calc(100% - 36px); /* to prevent overflow */
    transform: translateX(36px);
    transition: transform 0.33s ease, max-width 0.33s ease;
}

.wrapper{
    height: auto;  
    width: 80%; 
    min-width: 360px !important;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
}

.wrapper_full{
    width: 100%;
    margin-bottom: 0px;
    background-color: #ffffff;
    height: auto;
}

#mainwrap{
    border-radius: 6px;
    background-color: rgba(255,255,255, 0.93) !important;
    border: 1px solid #13856e;
    overflow: hidden;
    margin-top: 24px;
    transition: border-radius 0.33s ease, margin-top 0.33s ease;
    backdrop-filter: blur(1.5px) !important;
    -webkit-backdrop-filter: blur(1.5px) !important;
}

.content{
    width: 93.75%;
    min-width: 340px;
    padding: 0px;
    margin: 0px auto;
    background-color: transparent;
}

.content_dark{
    width: 100%;
    min-width: 340px;
    padding: 0px;
    margin: 0px auto;
    background-color: rgba(36,42,46, 0.8);
    color: #ffffff;
}

.content_dark p{
    color: #ffffff;      
}

.chapter{
    width: 100% !important;
    background-color: transparent;
}

.dark{
    background-color: #263238 !important;;
}

.highlight{
    background-color: #13856e;
    margin-bottom: 1rem;
}

.button{
    color: #2472a6;
    border: 1.5px solid #2472a6;
    border-radius: 6px;
    background-color: transparent;
    padding: 0.25rem 1rem;
    font-size: 1.25rem;
    font-weight: 400;
    box-shadow: none;
    white-space: nowrap;
    transition: all 0.25s ease;
}

.button:hover{
    color: #ffffff;
    background-color: #3393d4;
    border: 1.5px solid #3393d4;
    box-shadow: 1px 1px 2px rgba(0,0,0, 0.25);
    transition: all 0.25s ease;
}

.button:active{
    color: #ffffff;
    background-color: #2472a6;
    border: 1.5px solid #2472a6;
    box-shadow: 1px 1px 2px rgba(0,0,0, 0.125);
    transition: all 0.25s ease;
}

.button .caret{
    transform: none;
    transition: transform 0.25s ease;
    display: inline-block;
}

.button:hover .caret, .button:active .caret, a:focus .caret{
    transform: translateX(3px);
    transition: transform 0.25s ease;
}

.btncol{
    display: flex; 
    margin-bottom: 16px;
}

.meow{
    font-size: 16px !important; 
    font-style: italic; 
    text-align: center;
    color: #cfd8dc;
}

.icon{
    font-size: 1.3125rem;
    color: #cfd8dc !important;
    transition: color 0.33s ease;
}

.icon:hover, .icon:active, .icon:focus{
    color: #ffffff !important;
    transition: color 0.33s ease;
}

footer .col, footer .col-6{
    margin: auto;
}

.footercont{
    margin: 0px auto;
    height: 75px !important; 
    width: 100%; 
    min-width: 340px;
    transition: width 0.33s ease;
}

/*
.gallery-prev{
    transition: filter 0.25s ease !important;
}

.gallery-prev:hover{
    filter: brightness(125%);
}

.gallery-prev:active{
    filter: brightness(113%);
}
*/

@media (min-width: 576px) and (max-width: 767.99px){
    .overlay-inner {
        font-size: 3rem !important;
        transition: font-size 0.33s ease;
    }
    .wrapper{
        transition: width 0.33s ease;
    }
    #mainwrap{
        transition: border-radius 0.33s ease, width 0.33s ease, margin-top 0.33s ease;
    }
    .preview-table{
        font-size: 2rem;
        width: 80%;
        transition: font-size 0.33s ease, width 0.33s ease;
    }
    .navbar{
        transition: padding 0.33s ease, background-color 0.25s ease;
    }
}

@media (max-width: 575.99px){
    .preview-table{
        font-size: 1.875rem;
        width: 93.75%;
        transition: font-size 0.33s ease, width 0.33s ease;
    }
    .ptitle{
        width: 63.5%;
    }
    .parrow{
        width: 36.5%;
        max-width: 36.5%;
    }
    .overlay-inner{
        font-size: 2rem !important;
        transition: font-size 0.33s ease;
    }
    .wrapper{
        width: 100%;
        transition: width 0.33s ease;
    }
    #mainwrap{
        border-radius: 0px;
        border: none;
        margin-top: 96px;
        transition: border-radius 0.33s ease, width 0.33s ease, margin-top 0.33s ease;
    }
    #o2text{
        font-size: 1rem !important;
    }
    .navbar{
        padding: 0.5625rem 3.125% !important;
        transition: padding 0.33 ease, background-color 0.25s ease;
    }
    .footercont{
        width: 93.75%;
        transition: width 0.33s ease;
    }
}

@media (min-width: 768px) and (max-width: 850px) and (pointer: coarse){
    .overlay-inner{
        font-size: 3rem !important;
        transition: font-size 0.33s ease;
    }
}

@media (pointer: coarse){
    .preview-section, .homemast{
        background-attachment: scroll !important;
    }
}