/* default html classes */
body{
    font-family: "myriad-pro", Helvetica, sans-serif !important;
    background-color: #dee4e7;
    color: #000000;
    background-image: linear-gradient(to bottom right, #dee4e7, #bfcbd0);
    margin-top: 0px; 
    margin-left: 0px; 
    overflow-x: hidden !important;
    font-size: 16px;
}    
p {
    font-family: "myriad-pro", Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 140%;
    color: #000000;
}

h1 {
    font-size: 2.5rem !important; 
    color: #ffffff;
}

h2 {
    font-size: 1.625rem !important;
    font-weight: 400;
    color: #16A085;
    cursor: default;
    transition: color 0.25s ease;
}

h2:hover, h2:active{
    color: #1ABC9C;
    transition: color 0.25s ease;
}

h3 {
    font-size: 1.25rem !important; 
    font-weight: 600;
}

h4{
    font-size: 1.875rem !important;
    font-weight: 300;
    color: #ffffff;
    cursor: default;
    transition: transform 0.33s ease, font-size 0.33s ease;
}

h4:hover, h4:active{
    transform: translateX(12px);
    transition: transform 0.33s ease, font-size 0.33s ease;
}

a{
    text-decoration: underline solid transparent;
    color: #2980b9;
    transition: all 0.25s ease;
}

a:hover, a:active{
    color: #3498db;
    text-decoration: underline solid #3498db;
    transition: all 0.25s ease;
}

a:visited{
    color: #2980b9;
    transition: all 0.25s ease;
}

a:visited:hover, a:visited:active{
    color: #3498db;
    text-decoration: underline solid #3498db;
    transition: all 0.25s ease;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* custom classes */
.navbar{
    font-family: "myriad-pro", Helvetica, sans-serif !important;
    padding: 0.5rem 10% !important;
    box-shadow: 0px 2px 7px 3px rgba(36,42,46, 0.25); 
    background-color: rgba(255,255,255, 0.875);
    backdrop-filter: blur(3px) !important;
    -webkit-backdrop-filter: blur(3px) !important;
    transition: background-color 0.25s ease;
}

.navbar:hover, .navbar:active{
    background-color: #ffffff;
    transition: background-color 0.25s ease;
}

.mybrand{
    color: #16A085 !important;
    font-size: 1.625rem; 
    padding-top: 2px;
    text-decoration: none !important;
}

.mybrand:hover{
    color: #1ABC9C !important;
    text-decoration: none !important;
}

.nav-link{
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
    text-decoration: underline solid transparent;
    transition: all 0.25s ease;
    color: #7F8C8D !important;
}

.nav-link:hover{
    color: #242a2e !important;
    text-decoration: underline solid #242a2e !important;
    transition: all 0.25s ease;
}

/*.logo{
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bolder;
    font-style: italic;
    font-size: 2.25em; 
    vertical-align: middle;
    transition: all 0.35s ease;
}*/

.mastcontainer{ /* sets size, alignment, and background of masthead banner */
    height: 39vh; 
    min-height: 250px;
    max-height: 40vw;
    width: 100%;
    vertical-align: middle; 
    text-align: center; 
    background: no-repeat center center fixed; 
    background-size: 100%;
    box-shadow: 0px 3px 5px 0px rgba(36,42,46, 0.25);
}

.masthead{ /* sets styling for masthead text */
    height: 20%; 
    vertical-align: middle;
    cursor:default;
    text-shadow: 2px 2px 8px #000000;
    line-height: normal; 
    margin-left: 40px;
    margin-right: 40px;
}

.masthead h3{
    color: #fafbfc;    
}

.overlay {
    position: fixed;
    bottom: 60%;
    width: 100%;
    margin: auto;
    background-color: transparent;
    cursor: default;
    opacity: 100%;
}

.overlay-inner {
    font-weight: 300;
    font-size: 3.75rem;
    color: #ffffff;
    margin: 0px auto;
    padding-bottom: 4px;
    text-align: center;
    text-shadow: 2px 2px 7px #000000;
    transition: font-size 0.5s ease;
}

.overlay2 {
    position: fixed;
    bottom: 20%;
    width: 100%;
    margin: auto;
    background-color: transparent;
    cursor: default;
    opacity: 100%;
}

.preview-section{
    height: 57.5vh; 
    min-height: 220px;
    background: no-repeat center center fixed;
    background-size: 100%;
}

.preview-inner{
    height: 100%;
    width: 100%;
    background: transparent;
    transition: background 0.25s ease;
}

.preview-inner:hover, .preview-inner:active{
    background: rgba(0,0,0, 0.6);
    transition: background 0.25s ease;
}

.preview-table{
    width: 75%; 
    height: 100%; 
    margin: auto;
    border: none;
    border-collapse: collapse;
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 300;
    text-shadow: 2px 2px 7px #000000;
    transition: font-size 0.25s ease, width 0.25s ease;
}

.ptitle{
    width: 50%;
    text-align: right;
}

.ptitlea{
    color: #ffffff !important;
    text-decoration: underline solid transparent;
    text-decoration-thickness: 0.01px !important;
    transition: text-decoration 0.33s ease, text-decoration-thickness 0.33s ease !important;
}

.preview-table:hover .ptitlea, .preview-table:active .ptitle{
    text-decoration: underline solid 2px #ffffff;
    text-decoration-thickness: 2px !important;
    transition: text-decoration 0.33s ease, text-decoration-thickness 0.33s ease !important;
}

.parrow{
    width: 50%; 
    text-align: center;
    transition: transform 0.33s ease;
    cursor: default
}

.preview-table:hover .parrow, .preview-table:active .parrow{
    transform: translateX(30px);
    transition: transform 0.33s ease;
}

.contacts a{
    cursor: default !important;
}

.wrapper{
    height: auto;  
    width: 80vw; 
    min-width: 360px !important;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px 3px rgba(36,42,46, 0.25);
}

.wrapper_full{
    width: 100%;
    margin-bottom: 0px;
    background-color: #ffffff;
    height: auto;
}

.content{
    width: 93.75%;
    min-width: 345px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

.content_dark{
    width: 100%;
    min-width: 345px;
    padding: 0px 3.125%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    background-color: rgba(36,42,46, 0.8);
    color: #ffffff;
}


.content_dark p{
    color: #ffffff;      
}

.chapter{
    width: 100% !important;
    background-color: inherit;
}

.chapter_highlight{
    width: 100% !important;
    background-color: #eceff1;
}

/*.citation{
    font-family: Helvetica, sans-serif;
    font-size: 11pt;
    font-style: italic;
    text-align: center;
}*/

.footer{
    width: 100%;
    text-align: center;
    background: #242a2e;
    height: 75px;
    cursor: default;
}

.meow{
    font-size: 12pt !important; 
    font-style: italic; 
    text-align: center;
    color: #eceff1;
}

.gallery-prev{
    transition: filter 0.25s ease !important;
}

.gallery-prev:hover{
    filter: brightness(130%);
}

.gallery-prev:active{
    filter: brightness(115%);
}

@media (min-width: 576px) and (max-width: 767.99px){
    .overlay-inner {
        font-size: 2.875rem !important;
        transition: font-size 0.5s ease;
    }
    .wrapper{
        transition: width 0.25s ease;
    }
    .preview-table{
        font-size: 2rem;
        width: 80%;
        transition: font-size 0.25s ease, width 0.25s ease;
    }
    .navbar{
        transition: padding 0.25s ease, background-color 0.25s ease;
    }
}

@media (max-width: 575.99px){
    .preview-table{
        font-size: 1.875rem;
        width: 93.75%;
        transition: font-size 0.25s ease, width 0.25s ease;
    }
    .ptitle{
        width: 62.5%;
    }
    .parrow{
        width: 37.5%;
    }
    .overlay-inner {
        font-size: 2rem !important;
        transition: font-size 0.5s ease;
    }
    h4{
        font-size: 1.625rem !important;
        transition: transform 0.33s ease, font-size 0.33s ease;
    }
    .wrapper{
        width: 100%;
        transition: width 0.25s ease;
    }
    .navbar{
        padding: 0.5rem 3.125% !important;
        transition: padding 0.25 ease, background-color 0.25s ease;
    }
}

@media (min-width: 768px) and (max-width: 850px) and (pointer: coarse){
    .overlay-inner {
        font-size: 2.875rem !important;
        transition: font-size 0.5s ease;
    }
}