/* default html classes */
html{
    font-size: 16px;
}

body{
    font-family: "muli", Helvetica, sans-serif !important;
    background-color: #f6f9fb;
    color: #000000;
    margin-top: 0px; 
    margin-left: 0px;
    font-size: 16px;
    overflow-x: hidden !important;
}    
p {
    font-family: "muli", Helvetica, sans-serif;
    font-size: 1rem;
    color: #000000;
    line-height: 137.5%;
    font-weight: 400;
}

h1 {
    font-size: 2.5rem; 
    font-weight: 300 !important;
    color: #ffffff;
}

h2 { /* formerly h3 in masthead */
    font-size: 1.1875rem !important; 
    font-weight: 400;
    color: #ffffff;
}

h3 { /* formerly h4 */
    font-size: 1.625rem !important;
    font-weight: 600;
    cursor: default;
    color: #ffffff;
    padding: 18px 0px;
    margin: 0px;
    transition: transform 0.3s ease;
}

h3:hover, h3:active{
    /*color: #1abc9c;*/
/*
    transform: translateX(10px);
    transition: transform 0.3s ease;
*/
}

h4 { /* formerly h3 in content */
    font-size: 1.1875rem !important; 
    font-weight: 600;
}

a{
    text-decoration: underline solid transparent;
    /* color: #2980b9; */
    color: #226a9c;
    transition: all 0.3s ease;
}

a:hover, a:active, a:focus{
    /* color: #3498db; */
    color: #2078b4;
    text-decoration: underline solid #2078b4;
    transition: all 0.3s ease;
}

a:visited{
    color: #226a9c;
    transition: all 0.3s ease;
}

a:visited:hover, a:visited:active, a:visited:focus{
    color: #2078b4;
    text-decoration: underline solid #2078b4;
    transition: all 0.3s ease;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer{
    width: 80%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.875);
    height: 68px;
    cursor: default;
    border-radius: 7px;
    margin: 8px auto 4px;
/*
    backdrop-filter: blur(3.5px) !important;
    -webkit-backdrop-filter: blur(3.5px) !important;
*/
}

main{
    width: 100%;
    margin: auto;
}

/* custom classes */
.navbar{
    font-family: "muli", Helvetica, sans-serif !important;
    padding: 0.8125rem 1rem !important;
    box-shadow: 0px 1px 6px 2px rgba(0,0,0, 0.33); 
    background-color: rgba(0, 0, 0, 0.875);
    backdrop-filter: blur(3.5px) !important;
    -webkit-backdrop-filter: blur(3.5px) !important;
    transition: padding 0.3s ease, background-color 0.3s ease;
    margin: auto;
    width: 80%;
    border-radius: 7px;
    transition: background-color 0.3s ease;
}

.navbar:hover, .navbar:active{
    background-color: rgba(0, 0, 0, 1);
    transition: background-color 0.3s ease;
}

.navbar-toggler{
    border-color: transparent !important;
}

.navbar-dark .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb%28192, 200, 204%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    filter: brightness(100%);
    transition: filter 0.3s ease;
}

.navbar-dark .navbar-toggler:hover .navbar-toggler-icon, .navbar-dark .navbar-toggler:active .navbar-toggler-icon{
    filter: brightness(150%);
    transition: filter 0.3s ease;
}

.mybrand{
    color: #ffffff !important;
    font-size: 1.75rem !important; 
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    text-decoration: none !important;
    transition: color 0.3s ease !important;
}

.mybrand:hover{
    color: #3498db !important;
}

.mybrand:active{
    color: #2980b9 !important;
}

.nav-link{
    font-size: 1.1875rem !important;
    padding: 0px !important;
    margin-left: 1rem !important;
    text-decoration: underline solid 2px transparent;
    -webkit-text-decoration: underline solid transparent;
    text-underline-offset: 5px;
    transition: all 0.3s ease;
    color: #c0c8cc !important;
    font-weight: 600;
}

.nav-link:hover, .nav-link:active, .nav-link:focus{
    color: #ffffff !important;
    text-decoration: underline solid 2px #ffffff !important;
    -webkit-text-decoration: underline solid #ffffff !important;
    text-underline-offset: 5px;
    transition: all 0.3s ease;
}

.currentpage {
    color: #ffffff !important; 
    text-decoration: underline solid 2px #ffffff !important; 
    -webkit-text-decoration: underline solid #ffffff !important; 
    text-underline-offset: 5px;
}

/*
.bg{
    z-index: -1;
    position: fixed;
    left: 0px;
    top: 66px;
    width: 100%;
    height: calc(100% - 66px);
    background-size: cover;
    background-position: center 0%;
}
*/

.blurb{
    color: #000000 !important; 
    margin-bottom: 1rem;
    margin-top: 8px;
}

#homemast{
    height: 75vh; 
    min-height: 300px;
    background-size: cover; 
    background-position: 55% 20%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-radius: 7px;
    margin-top: 8px;
    overflow: hidden !important;
}

.mastcontainer{ /* sets size, alignment, and background of masthead banner */
    height: 39vh; 
    min-height: 240px;
    max-height: 40vw;
    width: 100%;
    vertical-align: middle; 
    text-align: center; 
    background: no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    border-radius: 7px;
    margin-top: 8px;
    /*position: relative;
    z-index: 2;
    box-shadow: 0px 4px 5px 0px rgba(36,42,46, 0.25);*/
}

.masthead{ /* sets styling for masthead text */
    height: 20%; 
    vertical-align: middle;
    cursor: default;
    line-height: normal; 
    margin-left: 8px;
    margin-right: 8px;
}

.masthead h1{
    padding: 0px 8px 7px;
}

.masthead h2{
    padding: 0px 8px 4px;
}

.masthead h1, .masthead h2{
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3.5px) !important;
    -webkit-backdrop-filter: blur(3.5px) !important;
    font-weight: 400 !important;   
    display: inline-block;
}

#overlay {
    position: fixed;
    bottom: min(60%, calc(100% - 130px));
    width: 80%;
    margin: auto;
    background-color: transparent;
    cursor: default;
    opacity: 100%;
}

.overlay-inner {
    font-size: 3.5rem;
    color: #ffffff;
    margin: 0px auto;
    padding-bottom: 4px;
    text-align: center;
    text-shadow: 1px 1px 6px #000000;
    transition: font-size 0.3s ease;
}

#overlay2 {
    position: fixed;
    bottom: 18%;
    width: 80%;
    margin: auto;
    background-color: transparent;
    cursor: default;
    opacity: 100%;
}

#o2text{
    font-size: 1rem !important;
    font-weight: 400;
    padding: 6px;
    border-radius: 7px;
    font-style: italic;
    transition: font-size 0.3s ease;
    background-color: rgba(0,0,0, 0.2);
}

.preview-section{
    height: 50vh; 
    min-height: 200px;
    background: no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 8px;
    border-radius: 7px;
}

.preview-inner{
    height: 100%;
    width: 100%;
    border-radius: 7px;
    background: rgba(0,0,0, 0.26);
    transition: background 0.3s ease;
}

.preview-inner:hover, .preview-inner:active{
    background: rgba(0,0,0, 0.65) !important;
    transition: background 0.3s ease;
}

.preview-table{
    width: 100%;
    height: 100%; 
    margin: auto;
    border: none;
    border-collapse: collapse;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 300;
    text-shadow: 1px 1px 6px #000000;
    transition: font-size 0.3s ease, width 0.3s ease;
}

.ptitle{
    width: 50%;
    text-align: right;
}

.ptitlea{
    color: #ffffff !important;
    text-decoration: underline solid transparent;
    text-decoration-thickness: 0.01px !important;
    transition: text-decoration 0.3s ease, text-decoration-thickness 0.3s ease !important;
}

.preview-table:hover .ptitlea, .preview-table:active .ptitle{
    text-decoration: underline solid 2px #ffffff;
    text-decoration-thickness: 2px !important;
    transition: text-decoration 0.3s ease, text-decoration-thickness 0.3s ease !important;
}

.parrow{
    width: 50%; 
    max-width: 50%;
    text-align: center;
    cursor: default;
}

.parrowp{
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 0px;
    max-width: 100%;
    transition: transform 0.3s ease, max-width 0.3s ease;
}

.preview-table:hover .parrowp, .preview-table:active .parrowp{
    max-width: calc(100% - 36px); /* to prevent overflow */
    transform: translateX(36px);
    transition: transform 0.3s ease, max-width 0.3s ease;
}

.wrapper{
    height: auto;  
    width: 80%; 
/*    min-width: 360px;*/
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
}

.wrapper_full{
    width: 100%;
    margin-bottom: 0px;
    background-color: inherit;
    height: auto;
}

/*
#mainwrap{
    border-radius: 7px;
    background-color: rgba(255,255,255, 0.93) !important;
    border: none;
    overflow: hidden;
    margin-top: 24px;
    transition: border-radius 0.3s ease, margin-top 0.3s ease;
    box-shadow: 0px 0px 7px 1px rgba(0,0,0, 0.125); 
    backdrop-filter: blur(1.5px) !important;
    -webkit-backdrop-filter: blur(1.5px) !important;
}
*/

.content{
    width: calc(100% - 2rem);
/*    min-width: 340px;*/
    padding: 0px;
    margin: 0px auto;
    background-color: transparent;
}

.content_dark{
    width: 100%;
/*    min-width: 340px;*/
    padding: 0px;
    margin: 0px auto;
    background-color: rgba(36,42,46, 0.8);
    color: #ffffff;
}

.chapter{
    width: 100% !important;
    margin-top: 12px;
    margin-bottom: 4px;
    background-color: transparent;
}

.dark{
    background-color: #263238 !important;
}

.highlight{
    border-radius: 7px;
    background-color: #2078b4;
    background-image: linear-gradient(105deg, #8647b3 3%, #2078b4 33%, #2078b4 67%, #13856e 97%);
    background-size: 200% 100%;
    background-position: right center;
    margin-top: 8px !important;
    margin-bottom: 8px;
    transition: background-position 0.3s ease;
}

.highlight:hover, .highlight:focus, .highlight:active{
    background-position: left center;
    transition: background-position 0.3s ease;
}

.button{
    color: #226a9c;
    border: 2px solid #226a9c;
    border-radius: 7px;
    background-color: transparent;
    padding: 0.375rem 1rem;
    font-size: 1.1875rem;
    font-weight: 400;
    box-shadow: none;
    white-space: nowrap;
    transition: all 0.3s ease;
}

.button:hover{
    color: #ffffff;
    background-color: #2078b4;
    border: 2px solid #2078b4;
    box-shadow: 1px 1px 2px rgba(0,0,0, 0.25);
    transition: all 0.3s ease;
}

.button:active{
    color: #ffffff;
    background-color: #226a9c;
    border: 2px solid #226a9c;
    box-shadow: 1px 1px 2px rgba(0,0,0, 0.125);
    transition: all 0.3s ease;
}

.button .caret{
    transform: none;
    transition: transform 0.3s ease;
    display: inline-block;
}

.button:hover .caret, .button:active .caret, a:focus .caret{
    transform: translateX(3.5px);
    transition: transform 0.3s ease;
}

.btncol{
    display: flex; 
    margin-bottom: 16px;
}

.portfoliopic{
    width: 600px;
    max-width: 100%; 
    margin-left: 0px;
}

.meow{
    font-size: 1rem !important; 
    font-style: italic; 
    text-align: center;
    color: #ffffff;
}

.icon{
    font-size: 1.1875rem;
    color: #c0c8cc !important;
    transition: color 0.3s ease;
}

.icon:hover, .icon:active, .icon:focus{
    color: #ffffff !important;
    transition: color 0.3s ease;
}

footer .col, footer .col-6{
    margin: auto;
}

.footercont{
    margin: 0px auto;
    height: 68px !important; 
    width: 100%;
    transition: width 0.3s ease;
}

/*
.gallery-prev{
    transition: filter 0.3s ease !important;
}

.gallery-prev:hover{
    filter: brightness(125%);
}

.gallery-prev:active{
    filter: brightness(113%);
}
*/

@media (min-width: 576px) and (max-width: 900px){
    .overlay-inner {
        font-size: 2.5rem !important;
        transition: font-size 0.3s ease;
    }
    .preview-table{
        font-size: 1.625rem;
        transition: font-size 0.3s ease;
    }
    .navbar{
        transition: padding 0.3s ease, background-color 0.3s ease, width 0.3s ease;
    }
    footer, .wrapper, .navbar, #overlay, #overlay2{
        transition: width 0.3s ease;
    }
}

@media (max-width: 575.99px){
    footer, .wrapper, .navbar, #overlay, #overlay2{
        width: 99.5%;
        transition: width 0.3s ease;
    }
    .preview-table{
        font-size: 1.625rem;
        transition: font-size 0.3s ease, width 0.3s ease;
    }
    .ptitle{
        width: 63.5%;
    }
    .parrow{
        width: 36.5%;
        max-width: 36.5%;
    }
    .overlay-inner{
        font-size: 2rem !important;
        transition: font-size 0.3s ease;
    }
    .nav-link{
        padding: 4px 0px !important;
    }
}


@media (pointer: coarse){
    .preview-section, .mastcontainer, #homemast{
        background-attachment: scroll !important;
    }
}